* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: miFuenteLime;
    src: url(../fuentes/Limelight-Regular.ttf);
}

@font-face {
    font-family: miFuenteJust;
    src: url(../fuentes/JustAnotherHand-Regular.ttf);
}

 @font-face {
    font-family: miFuentePath;
    src: url(../fuentes/PathwayGothicOne-Regular.ttf);
}

@font-face {
    font-family: miPath2;
    src: url(../fuentes/Pathway_Extreme.ttf);
}



body {
    background-color: #031D45;
    overflow: hidden;
}

.linea {
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
    padding: 5px;
    width: 20px;
    position: absolute;
    bottom: 1px;
    margin-left: 20px;
    
   
}

.linea2 {
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
    padding: 5px;
    width: 20px;
    position: absolute;
    left: 50px;
    bottom: 1px;   
}

h1 {
    transform: translate(120px);
    font-family: miFuenteLime;
    width: 250px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 40px;
    font-size: 35px;
    text-shadow: #002c6e;
}

span {
  font-family: miFuenteJust;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-left: 42px;
  bottom: 14px;
  position: relative;
}

ul {
    font-family: miFuentePath;
    margin: 100px;
    margin-top: 70px;
   
}

li {
    background-color: #d9d9d921;
    margin: -10px;
    width: 310px;
    text-align: center;
    height: 47px;
    list-style-type: none;   
}

li a {
    color: #fff;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    bottom: 40px;
    position: relative;
    justify-content: flex-start;
    display: flex;
    left: 40px;
}

li img {
   display: flex;
   justify-content: flex-start;
   bottom: -10px;
   position: relative;
   margin: 20px;
}

.profesor {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-top: -650px;
    margin-right: 20px;
}

.profesor img {
    width: 20px;
    height: 20px;
}

.profesor h4 {
    font-family: miFuentePath;
    background-color: #d9d9d957;
    margin-right: 5px;
    width: 80px;
    text-align: center;
    height: 100%;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
    margin-top: 3px;
}

.profesor {
    display: flex;
    justify-content: flex-end;
}


 .preguntas_container h3 {
    font-family: miFuentePath;
    color: #fff;
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 150px;
} 

 
.preguntas_container {
    color: #fff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
 
.preguntas h5 {
    font-family: miFuentePath;
    margin-left: 120px;
    bottom: -100px;
    position: relative;
    font-size: 20px;
    font-weight: normal;
}

.preguntas p {
    font-family: miFuentePath;
    display: none;
    margin-top: 20px;
    color: #fff;
}

legend {
    font-family: miFuentePath;
    color: #fff;
    font-size: 25px;
    text-align: center;
}

form {
    width: 800px;
    margin-left: 450px;
    margin-top: 120px;
}

label {
    font-family: miFuentePath;
    color: #fff;
    font-size: 20px;
    margin: 15px;
    
    
}

.boton {
    font-family: miFuentePath;
    margin: 15px;
    font-size: 16px;
    width: 50px;
    font-weight: normal;
    bottom: 25px;
    position: relative;
}

.tabla1 {
    color: #fff;
    font-family: miFuentePath;
    margin-left: 448px;
    margin-top: 10px;
}

.tabla2 {
    color: #fff;
    font-family: miFuentePath;
    font-weight: normal;
    text-align: center;
}

h4 {
    color: #fff;
    font-family: miFuentePath;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 200px;
}

.info_estudiante {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 22px;
    margin-left: 300px;
}

.tareas h3 {
    color: #fff;
    font-family: miFuentePath;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 30px;
    margin-top: 95px;
}


.foro_tareas_examenes li {
    background-color: transparent;
    display: flex; 
    justify-content: center;
    width: 200px;
    text-transform: uppercase;
}

.foro_tareas_examenes {
    margin-left: 390px;
    margin-top: 60px;
    display: flex;
    
}

li .foro_tareas {
    font-size: 20px;    
}

.entregas {
    margin-top: -110px;
}

.imprimir {
    font-family: miFuentePath;
    font-size: 16px;
    font-weight: normal;
    bottom: -30px;
    position: relative;
    left: 140px;
}

.profe1 {
    margin-left: 30px;
}

fieldset {
    height: 130px;
}

table {
    width: 805px;
    border: #fff;
}


.correcion_tareas {
    margin-top: 900px;
    color: #fff;
    font-family: miFuentePath;
}

form h3 {
    margin-left: 150px;
    margin-top: -250px;
    font-weight: normal;
    font-size: 25px;
    text-transform: uppercase;
}


.h4_foro {
    right: 550px;
    position: relative;
    width: 100%;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}

.correcion_tareas p {
    right: 350px;
    position: relative;
    width: 100%;
    margin-top: 5px;
    font-weight: normal;
    font-size: 20px;
}

textarea {
    background-color: #D9D9D921;
    color: #fff;
    font-family: miFuentePath;
    width: 1245px;
    height: 140px;
    right: 350px;
    position: relative;
    margin-top: 10px;
}

.cargar {
    font-size: 20px;
    text-align: center;
}

.cargar_archivo {
    background-color: #d9d9d90c;
    margin-right: 350px;
    height: 150px;  
    width: 550px;
    text-align: center;
}

.botones_be {
    background-color: #ffffff;
    border: 0px;
    font-family: miFuentePath;
    width: 70px;
    font-size: 17px;
    left: 170px;
    position: relative;
    margin: 2px;
}


.arrow_back {
    display: flex;
    justify-content: flex-start;
    margin-left: 90px;
    margin-top: -15px;
}

.arrow_back img {
    width: 18px;
    height: 18px;
}

.correcion_tareas {
    top: -30px;
    position: relative;
}

.plan_docente {
    font-weight: normal;
    text-align: center;
}

#planificacion {
    color: #fff;
}

.planificacion_docente {
    margin-top: 125px;
}

.enviar_borrar {
    font-family: miFuentePath;
    width: 50px;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
}

h4 .listado {
    font-weight: normal;
}


#dia {
    margin-left: 10px;
}

#day {
    margin-left: 52px;
}

#dai {
    margin-left: 82px;
}

#dias {
    margin-left: 10px;
}

.preguntas_tareas h3 {
    color: #fff;
    font-family: miFuentePath;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.preguntas_tareas p {
    color: #fff;
    font-family: miFuentePath;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.arrow_back2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 90px;
}

.arrow_back2 img {
    width: 18px;
    height: 18px;
}

.evaluaciones h4 {
    font-family: miFuentePath;
    font-weight: normal;
    margin-top: 25px;
}

.evaluaciones a {
    display: flex;
    justify-content: center;
    margin-left: 165px;
    padding: 20px;
    color: rgb(39, 59, 240);
}

.evaluaciones p {
    font-family: miFuentePath;
    font-weight: normal;
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-top: 130px;
    width: 850px;
    margin-left: 440px;
}

.cont2 h4 {
    font-family: miFuentePath;
    font-weight: normal;
    margin-top: 10px;
}

.cont2 a {
    display: flex;
    justify-content: center;
    margin-left: 195px;
    padding: 20px;
    color: rgb(39, 59, 240);
}

.entregas {
    margin-top: -110px;
}
