* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Fuentes */
@font-face {
    font-family: miFuenteLime;
    src: url(../fuentes/Limelight-Regular.ttf);
}

@font-face {
    font-family: miFuenteJust;
    src: url(../fuentes/JustAnotherHand-Regular.ttf);
}

 @font-face {
    font-family: miFuentePath;
    src: url(../fuentes/PathwayGothicOne-Regular.ttf);
}

@font-face {
    font-family: miPath2;
    src: url(../fuentes/Pathway_Extreme.ttf);
}


body {
    background-color: #031D45;
}

.linea {
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
    padding: 5px;
    width: 20px;
    position: absolute;
    bottom: 1px;
    margin-left: 20px; 
}

.linea2 {
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
    padding: 5px;
    width: 20px;
    position: absolute;
    left: 50px;
    bottom: 1px;   
}

h1 {
    transform: translate(120px);
    font-family: miFuenteLime;
    width: 250px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 40px;
    font-size: 35px;
}

span {
  font-family: miFuenteJust;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-left: 42px;
  bottom: 14px;
  position: relative;
}

ul {
    font-family: miFuentePath;
    margin: 100px;
    margin-top: 70px;
}

li {
    background-color: #d9d9d921;
    margin: -10px;
    width: 310px;
    text-align: center;
    height: 47px;
    list-style-type: none;   
}

li a {
    color: #fff;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    bottom: 40px;
    position: relative;
    justify-content: flex-start;
    display: flex;
    left: 40px;
}

li img {
   display: flex;
   justify-content: flex-start;
   bottom: -10px;
   position: relative;
   margin: 20px;
}

.preguntas_container h3 {
    font-family: miFuentePath;
    color: #fff;
    text-align: center;
    font-size: 35px;
    margin-top: -570px;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 150px;
} 

 
.preguntas_container {
    color: #fff;
    width: 100%;
    max-width: 800px;
    margin-left: 320px;
}
 
.preguntas h5 {
    font-family: miFuentePath;
    margin-left: 120px;
    bottom: -80px;
    position: relative;
    font-size: 20px;
    font-weight: normal;
}

.preguntas p {
    font-family: miFuentePath;
    display: none;
    position: relative;
    color: #fff;
}

legend {
    font-family: miFuentePath;
    color: #fff;
    font-size: 25px;
    text-align: center;
}

form {
    width: 800px;
    margin-left: 450px;
    margin-top: 120px;
}

label {
    font-family: miFuentePath;
    color: #fff;
    font-size: 20px;
    margin: 15px;
}

.boton {
    font-family: miFuentePath;
    margin: 15px;
    font-size: 16px;
    width: 50px;
    font-weight: normal;
    bottom: 25px;
    position: relative;
}

.tabla1 {
    color: #fff;
    font-family: miFuentePath;
    margin-left: 448px;
    margin-top: 10px;
}

.tabla2 {
    color: #fff;
    font-family: miFuentePath;
    font-weight: normal;
    text-align: center;
}

h4 {
    color: #fff;
    font-family: miFuentePath;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 200px;
}

.info_estudiante {
    display: flex;
    justify-content: center;
    margin-top: -509px;
    font-size: 22px;
    margin-left: 300px;
}

.entregas {
    margin-top: -110px;
}

.imprimir {
    font-family: miFuentePath;
    font-size: 16px;
    font-weight: normal;
    bottom: -30px;
    position: relative;
    left: 140px;
}

.profe1 {
    margin-left: 30px;
}

fieldset {
    height: 130px;
}

table {
    width: 805px;
    border: #fff;
}

.plan_docente {
    font-weight: normal;
    text-align: center;
}

#planificacion {
    color: #fff;
}

.planificacion_docente {
    margin-top: -502px;
}

.prof5 {
    margin-left: 42px;
}

.enviar_borrar {
    font-family: miFuentePath;
    width: 50px;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
}

h4 .listado {
    font-weight: normal;
}

#dia {
    margin-left: 10px;
}

#day {
    margin-left: 52px;
}

#dai {
    margin-left: 82px;
}

#dias {
    margin-left: 10px;
}

.preguntas_tareas h3 {
    color: #fff;
    font-family: miFuentePath;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.preguntas_tareas p {
    color: #fff;
    font-family: miFuentePath;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.arrow_back2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 90px;
}

.arrow_back2 img {
    width: 18px;
    height: 18px;
}

.evaluaciones_container {
    margin-top: -660px;
}

.evaluaciones h3 {
    font-family: miFuentePath;
    font-weight: normal;
    margin-top: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-left: 192px;
}

.evaluaciones a {
    display: flex;
    justify-content: center;
    margin-left: 165px;
    padding: 20px;
    color: rgb(39, 59, 240);
    font-family: miFuentePath;
}

.evaluaciones h2 {
    font-family: miFuentePath;
    color: #fff;
    font-weight: normal;
    text-align: center;
    margin-left: 230px;
    bottom: -90px;
    position: relative;
    font-size: 28px;
}

.evaluaciones p {
    font-family: miFuentePath;
    font-weight: normal;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 130px;
    width: 850px;
    margin-left: 440px;
}

.cont2 h3 {
    font-family: miFuentePath;
    font-weight: normal;
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-left: 192px;
}

.cont2 a {
    display: flex;
    justify-content: center;
    margin-left: 195px;
    padding: 20px;
    color: rgb(39, 59, 240);
    font-family: miFuentePath;
}

.entregas {
    margin-top: -110px;
}

button {
    font-size: 15px;
    font-family: miFuentePath;
    font-weight: normal;
    margin-right: 90px;
    color: #fffefe;
    background-color: rgb(217, 217, 217, 33%);
}

.menu-btn img{
    width: 18px;
    position: relative;
    left: 45px;
    bottom: 18px;
}

.container {
    position: relative;
    width: 100%;
   
}

.menu-btn {
    position: absolute;
    top: -100px;
    right: 0;
    width: 0;
    color: #fff;
    border: none;
    width: 60px;
    height: 18px;
    cursor: pointer;
}

.menu-items {
    position: absolute;
    top: -80px;
    right: 10px;
    background-color: rgba(217, 217, 217, 75%); 
    color: #fff;
   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
    padding: 20px;
}

.menu-items a {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: miFuentePath;
    border-top: solid 1px rgba(255, 255, 255, 0.705);
}

.menu-items li {
    border-bottom: 10px solid #555; 
}

.menu-items  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    width: 200px;
    text-align: center; 
}

.menu-items  a:hover {
     background-color: #555; 
}

.menu-btn:focus+.menu-items,
.menu-items:hover {
    display: block;
}

.menu-items  img{ 
    width: 20px;
    float: left;
}

.gestion {
    font-size: 20px;
    text-align: center;
    font-family: miFuentePath;
    font-weight: normal;
    color: #000;
    padding: 7px;
}

.gestion img {
    float: right;
    width: 19px;
}

.camara img {
    margin: -6px;
    transform: translateY(-3px);
    width: 15px;
}

.calificaciones_docente {
    margin-top: -502px;
}

.regresar {
    margin-left: 80px;
    margin-top: -110px;
}

.regresar img {
    width: 18px;
    height: 18px;
}


.inf_basica_profesor {
    background-color: #ffffff6e;
    width: 40%;
    margin-left: 450px;
    margin-top: 150px;
    cursor: pointer;
}

.agregar {
    margin-top: 100px;
    position: relative;
    margin-left: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    width: 1050px;
    font-size: 18px;
    color: #000000;
    font-weight: normal;
}

.agregar {
    bottom: -10px;
    position: relative;
}

b {
    margin-left: 70px;
    font-weight: normal;
    font-size: 15px;
}

.inf_basica_profesor img {
    width: 40px;
    margin-left: 490px;
    margin-top: -15px;
}

.imagen_camara img {
    width: 18px;
    margin-top: -19px;
    margin-left: 515px;
    position: absolute;
}

.imagenes_agregar {
    top: -8px;
    position: relative;
    margin-right: 20px;
}

hr {
    color: #00000056;
    margin-top: -20px;
}

h4 {
    color: #000000;
    font-family: miFuentePath;
    font-weight: normal;
    font-size: 18px;
    margin-left: 28px;
    bottom: 45px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.titinfo a {
    text-decoration: none;
}


.cambio_contraseña h2 {
    font-family: miFuentePath;
    font-weight: normal;
    font-size: 27px;
    color: #fff;
    text-align: center;
}

.cambio_contraseña {
    margin-top: 135px;
}

.cambio_contraseña img {
    display: flex;
    justify-content: flex-start;
    margin-left: 203px;
    margin-top: -45px;
    width: 18px;
}

.imagen {
    margin-top: 24px;
}

.botton1 {
    background-color: #d9d9d949;
    border: none;
    height: 25px;
    margin: 25px;
    margin-left: 33px;
    padding-left: 27px;
}


.botton2 {
    background-color: #d9d9d949;
    border: none;
    height: 25px;
    padding-left: 27px;
}

.input_boton1 {
    margin-top: 50px;
}

.input_boton1 label {
    font-size: 22px;
}

.enviar {
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    justify-content: center;
    display: flex;
    height: 25px;
    width: 120px;
    border-radius: 5px;
    padding: 0;   
    bottom: -60px;
    position: relative;
    left: 170px;
    color: #000;
}



