*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #031D45;
    overflow-x: hidden;
   
  
}

.linea{
    background-color: rgba(217, 217, 217, 1);
    height: 1230px;
    padding: 5px;
    width: 14px;
    position: absolute;
    bottom: 1px;
    left: 9px;
    
   
}

.linea2{
    background-color: rgba(217, 217, 217, 1);
    height: 1200px;
    padding: 5px;
    width: 14px;
    position: absolute;
    left: 30px;
    bottom: 1px;
    
    
}


h1{
    transform: translate(120px);
    font-family: Limelight;
    width: 250px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 40px;
    font-size: 28px;
}

span{
  font-family: Just Another Hand;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-left: 27px;
}

.estudiante{
    display: flex;
    justify-content: right;
    transform: translateY(-109px);
    margin-right: 30px;
    
}

.estudiante img{
    width: 50px;
    height: 50px;
    margin: -20px;
}

.estudiante h4{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 25px;
    padding: 5px;
    background-color: rgba(217, 217, 217, 33%);
}

header ul{
    margin-left: 70px;
}



ul li{
    margin: 20px;
   
}

li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* padding: 5px;
    background-color: rgba(217, 217, 217, 12%); */
}

nav ul li{
    padding: 5px;
    background-color: rgba(217, 217, 217, 12%);
    width: 30%;
   
}

li{
    list-style: none;
   font-size: 25px;
}

li img{
    float: left;
   width: 34px;
    margin-right: 10px;
    
}

h2{
    font-size: 20px;
   text-align:right ;
    margin-right: 180px;
    transform: translateY(-30px);
    color: rgb(255, 255, 255);
    
}

main{
    display: grid;
    grid-gap: 2rem, 1rem;
    grid-template-areas:
    "figure";
    grid-template-columns: 2fr 6fr 4fr;
    grid-template-rows: 3rem;
    margin: 0 34rem;
   transform: translateY(-400px);
}

p{
    width: 500px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: justify;
}

main h4{
    font-size: 40px;
    position: absolute;
    bottom: 80px;
    left: 60px;
    width: 600px;
    color: rgb(255, 255, 255);
}

main img{
    width: 300px;
   
}

aside{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    float: right;
    transform: translate(-350px);
}

aside li{
    color: rgb(255, 255, 255);
}

.container h4{
    float: right;
    transform: translateY(-80px);
    margin-right: 90px;
    color: #fff;
}

.menu-btn img{
    width: 40px;
}


.container {
    position: relative;
    width: 100%;
   
}

.menu-btn {
    position: absolute;
    top: -100px;
    right: 80px;
    width: 0;
    color: #fff;
    border: none;
    
    cursor: pointer;
}

.menu-items {
    position: absolute;
    top: -50px;
    right: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
    
}

.menu-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
    
}

.menu-items li {
    border-bottom: 1px solid #555;
    
}

.menu-items li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    width: 100px;
}

.menu-items li a:hover {
    background-color: #555;
}


.menu-btn:focus+.menu-items,
.menu-items:hover {
    display: block;
}


.p{
    font-size: 15px;
}