*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }   
    @font-face {
    font-family: miFuentePath;
    src: url(../fuentes/PathwayGothicOne-Regular.ttf);
}


body {
    background-color: #031D45;
    overflow-x: hidden;
    overflow: hidden;
  
}

.linea {
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
    padding: 5px;
    width: 20px;
    position: absolute;
    bottom: 1px;
    margin-left: 20px;
    
   
}

.linea2 {
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
    padding: 5px;
    width: 20px;
    position: absolute;
    left: 50px;
    bottom: 1px;   
}




h1 {
    transform: translate(120px);
    font-family: Limelight;
    width: 250px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 40px;
    font-size: 38px;
}

span {
  font-family: Just Another Hand;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-left: 27px;
}




main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
   margin-top: 80px;
    transform: translate(500px);
}

h2 {
    font-family: miFuentePath;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-left: 150px;
    width: 700px;
}

.us {
    font-family: miFuentePath;
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 120%; 
}

.contraseña {
    font-family: miFuentePath;
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 120%;
    top: 52%; 
}

input {
    font-size: 40px;
    margin: 10px;
   padding-left: 40px;
   width: 500px;
}


.imagen {
  width: 30px;
  position: absolute;
  bottom: 60%;
  left: 20px; 
}

.cont {
    width: 10px;
    position: absolute;
    bottom: 80px;
    left: 20px;
    height: 20px;   
}

::placeholder {
    font-family: miFuentePath;
    font-size: 30px;
    text-align: center;
    font-size: 20px;   
}

.btn {
    width:220px;
    border-radius: 10px;
    font-size: 30px;
}

.btn2 {
  position: absolute;
  left: 260px;
  top: 197px;
  border-radius: 10px;
   width: 220px;
   font-size: 30px;
   text-align: left;
}

aside {
    margin-top: 40px;
    transform: translate(600px);
}

aside a {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

aside h4 {
    line-height: 6;
    color: rgb(255, 255, 255);
   font-size: 20px;
}

.contenedor {
    display: grid;
    grid-template: repeat(3, 80px 40px 60px) / 100px 200px 300px;
    gap: 20px;  
}

.container img {
    width: 50px;
   transform: translateY(-25px);   
}

h4 {
    font-family: miFuentePath;
}

#contra {
    font-family: miFuentePath;
}

.acceso {
    background-color: #fff;
    font-family: miFuentePath;
    font-size: 20px;
    justify-content: center;
    display: flex;
    height: 25px;
    width: 120px;
    border-radius: 60px;
    padding: 1px;   
}

.acceso a {
    color: #000;
    text-decoration: none;
    list-style-type: none;
}




